body {
    font-family: 'Roboto',Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

h1,
.logo {
    color: #f9faf8;
    align-self: center;
}

h1 {
    font-weight: 900;
    font-size: 48px;
    margin: 0;
}

.logo {
    font-size: 24px;
}

p {
    color: #d5d7db;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #d5d7db;
    font-size: 18px;
}
 
button {
    background-color: #388ef6;
    color: #f9faf8;
    width: 120px;
    font-size: 16px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
}


.div1 {
    display: flex;
    flex-direction: column; 
    background-color: #1f2937;
    padding-top: 12px;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 72px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
}

.div1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 24px;
}

.div1-content-text {
    display: flex;
    flex-wrap: wrap;
    padding-right: 280px;
}

.div1-content-image {
    display: flex;
    width: 500px;
    height: 225px;
    color: #d5d7db;
    background-color: #70747c;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-left: 128px;
  padding-right: 128px;
  padding-bottom: 72px;
  
}

.div2-title {
  font-size: 36px;
  font-weight: 900;
  margin: 36px;
  color: #1f2937;
}

.div2-content {
  display: flex;
  gap: 36px;
}

.div2-content-item {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div2-content-image {
  width: 150px;
  height: 150px;
  border: 5px solid #388ef6;
  border-radius: 15px;
}

.div2-content-text {
  text-align: center;
  color: #70747c;
  padding: 18px;
}

.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding: 100px 200px;
    flex-direction: column;
}

.div3-quote {
    color: #1f2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.div3-author {
    display: flex;
    flex-direction: row-reverse;
    font-weight: 600;
    min-width: 100vh;
    font-size: 24px;
}

.div4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 72px 128px;
}

.div4-content {
    background-color: #388ef6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    border-radius: 5px;
    padding: 30px 100px;
}

.div4-content-text p#heading {
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.div4-button button{
    border: 2px solid white;
    height: 35px;
    font-weight: 600;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    color: #f9faf8;
}